html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efe9e0;
  text-align: center;
}

img {
  width: 900px;
  border: 1px solid #cfc9c0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  margin-top: 2em;
}