/* green: #9ea836 */
/* violet: #a52869 */
/* pink: #ac83a1 */

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #ac83a1;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 18px;
}

header {
  background-color: #a52869;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 2em;
  text-align: center;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.intro {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1em;
}

h1 {
  background: transparent url('images/logo.png') center center no-repeat;
  margin: 0.7em auto;
  width: 850px;
  height: 151px;
  text-indent: -9999px;
}

h2 {
  clear: both;
  color: #9ea836;
}

h3 {
  clear: both;
  color: #a52869;
}

h4 {
  color: #a52869;
  margin: 0.4em 0;
  font-size: 1em;
}

a {
  color: #ac83a1;
  text-decoration: none;
  border-bottom: 1px dotted #ac83a1;
}

a:hover {
  color: #a52869;
}

p {
  line-height: 1.4em;
}

hr {
  clear: both;
  display: block;
  border-top: 1px solid #a52869;
  border-bottom: none;
}

.clear {
  clear: both;
}

.intro .phone {
  color: #a52869;
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

.tagline {
  color: #9ea836;
  margin-bottom: 0.2em;
}

.email {
  font-size: 0.6em;
}

.lets-talk {
  background-color: #a52869;
  color: white;
  padding: 1em 0;
  text-align: justify;
}

.custom-service {
  padding: 1em 0;
}

h3.le-secteur {
  background: transparent url('images/le-secteur.png') left top no-repeat;
  height: 65px;
  margin: 0.7em auto;
  text-indent: -9999px;
}

h3.l-image {
  background: transparent url('images/l-image.png') left top no-repeat;
  height: 65px;
  margin: 0.7em auto;
  text-indent: -9999px;
}

h3.le-support {
  background: transparent url('images/le-support.png') left top no-repeat;
  height: 65px;
  margin: 0.7em auto;
  text-indent: -9999px;
}

.col3 {
  float: left;
  width: 280px;
  margin-right: 30px;
}

.col5 {
  float: left;
  width: 160px;
  margin-right: 25px;
}

.col-last {
  margin: 0;
}

.work p {
  color: #333;
  font-size: 0.8em;
}

.work .col5, .work .col3 {
  text-align: center;
}

time {
  font-size: 0.8em;
  display: inline-block;
  border-bottom: 1px solid #cca3c1;
  padding-bottom: 0.8em;
  margin-bottom: 0.5em;
}

small {
  display: block;
  font-size: 0.8em;
  margin-top: -0.4em;
}

.portfolio {
  background-color: #eee;
  padding: 1em 0;
  margin-top: 1em;
}

.portfolio img {
  border: 1px solid #ccc;
  box-shadow: 0 0 3px 1px white;
  margin: 7px;
}

.portfolio a {
  border: none;
}

.portfolio a:hover img {
  border-color: #a52869;
  box-shadow: 0 0 3px 1px #ac83a1;
};